* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    box-sizing: border-box;
}

/* navbar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
}

.brand-title {
    font-size: 15px;
    margin: 0.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 32px;
    display: block;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.navbar-links li:hover {
    background-color: black;
}

.toggle-button {
    position: absolute;
    top: 30px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1080px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-links li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
    }

    .navbar-links li a {
        padding: 0;
        height: 50px;
        padding-top: 15px;
    }

    .navbar-links.active {
        display: flex;
    }

}



/* startsida */

.startsida {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
}


.startsida::before {
    content: "";
    background-image: url("./img/pexels-bri-schneiter-346529.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(10%);
    z-index: -1;


}

.container-wrapper {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;


}

.header-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    padding-bottom: 30px;
    padding-top: 120px;
}

.header-sub-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1.75;
    padding-bottom: 50px;
}

.header-detail a {
    text-decoration: none;
    color: white;


}

.devider-line {
    letter-spacing: 5px;
    margin-left: 5px;
}



/* om mig */

@media (max-width: 1080px) {
    .container-om-mig {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 90px);
        background-color: rgb(216, 214, 214);
        gap: 50px;
        flex-direction: column;
    }


    .om-mig-item-right {
        display: flex;
        max-width: 500px;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .om-mig-item-left {
        display: flex;
        max-width: 750px;
        height: 300px;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        padding: 50px;
        gap: 30px;
    }

    .oliver-img {

        filter: grayscale(50%);
        box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.3);
        filter: saturate(50%);
    }


    .om-mig-h2 {
        display: flex;
        font-size: 30px;
        align-self: center;
        text-align: center;
    }

    .om-mig-h6 {
        display: flex;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 2px;
        align-self: center;
    }

    .om-mig-paragraf {
        display: flex;
        align-items: center;
        text-align: center;
    }
}

@media (min-width:1081px) {

    .container-om-mig {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 90px);
        background-color: rgb(216, 214, 214);
        gap: 50px;
    }

    .om-mig-item-right {
        display: flex;
        width: 400px;
        height: 400px;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .om-mig-item-left {
        display: flex;
        width: 400px;
        height: 400px;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 35px;
    }

    .oliver-img {

        filter: grayscale(50%);
        box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.3);
        filter: saturate(50%);

    }


    .om-mig-h2 {
        display: block;
        font-size: 25px;
        padding-left: 20px;
        border-left: solid gray;
    }

    .om-mig-h6 {
        display: block;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
    }
}




/* utbildning & arbetsliverfarenhet */

@media (max-width: 1080px){

    .container-bakgrund {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 90px);
            background-color: rgb(243, 240, 240);
            gap: 30px;
        }
    
        .bakgrund-item-left {
            display: flex;
            width: 600px;
            height: 150px;
            text-align: center;
            flex-direction: column;
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
    
    
        }
    
        .bakgrund-item-right {
            display: flex;
            width: 600px;
            height: 350px;
            justify-content: space-between;
            flex-direction: column;
            text-align: center;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
    
    
    
        .bakgrund-paragraf {
            display: block;
            padding-right: 20px;
            line-height: 1.5;
    
        }
    
        .bakgrund-h2 {
            display: block;
            font-size: 35px;
            padding-left: 20px;
            margin-top: 50px;
    
        }
    
        .bakgrund-h6 {
            display: block;
            align-self: center;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
    
        }

}

@media (min-width:1081px){


.container-bakgrund {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    background-color: rgb(243, 240, 240);
    gap: 50px;
}

.bakgrund-item-left {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: start;
    flex-direction: column;


}

.bakgrund-item-right {
    display: flex;
    width: 400px;
    height: 450px;
    justify-content: space-between;
    flex-direction: column;
    border-right: solid gray;


}



.bakgrund-paragraf {
    display: block;
    padding-right: 20px;
    line-height: 1.5;

}

.bakgrund-h2 {
    display: block;
    font-size: 35px;
    padding-left: 20px;
    border-left: solid gray;
    margin-top: 50px;

}

.bakgrund-h6 {
    display: block;
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;

}
}

/* portfolio */

@media (max-width: 1080px){
    
    .header-portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        gap: 20px;
    
    }

    .header-portfolio h2 {
        font-size: 30px;
    }

    .header-portfolio h6 {
        font-size: 15px;
    }
    
    .portfolio {
            display: flex;
            min-height: calc(100vh - 90px);
            background-color: rgb(255, 255, 255);
            justify-content: center;
    
        }
    
        .container-portfolio {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .portfolio-item-right {
            display: flex;
            max-width: 600px;
            height: 300px;
            justify-content: space-evenly;
            flex-direction: column;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 30px;
        }
    
        .portfolio-item-left {
            display: flex;
            max-width: 600px;
            height: 450px;
            justify-content: center;
            padding-left: 50px;
            padding-right: 50px;
        }
    
        .portfolio-img1 {
            object-fit: contain;
    
        }
    
    
        .portfolio-h2 {
            display: block;
            font-size: 25px;
            padding-left: 20px;
            border-left: solid gray;
        }
    
        .portfolio-h6 {
            display: block;
            align-self: flex-start;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
    
        .portfolio-button {
            display: flex;
    
        }
    
        .portfolio-button span {
            margin-right: 20px;
            background-color: gray;
            padding: 6px;
            border-radius: 50px;
        }
    
        .portfolio-länkar>a {
            text-decoration: none;
            color: black;
            margin-right: 30px;
            padding: 10px;
            border-bottom: solid 1px black;
        }

}

@media (min-width:1081px){
    
        .header-portfolio {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 100px;
                gap: 20px;
        
            }
        
            .header-portfolio h2 {
                font-size: 30px;
            }
        
            .header-portfolio h6 {
                font-size: 15px;
            }
    
    .portfolio {
            display: flex;
            min-height: calc(100vh - 90px);
            background-color: rgb(255, 255, 255);
            justify-content: center;
    
        }
    
        .container-portfolio {
            display: flex;
            align-items: center;
            gap: 50px;
        }
    
        .portfolio-item-right {
            display: flex;
            max-width: 600px;
            height: 400px;
            justify-content: space-evenly;
            flex-direction: column;
            padding-right: 50px;
        }
    
        .portfolio-item-left {
            display: flex;
            max-width: 600px;
            height: 400px;
            justify-content: center;
            padding-left: 50px;
        }
    
        .portfolio-img1 {
            object-fit: contain;
    
        }
    
    
        .portfolio-h2 {
            display: block;
            font-size: 25px;
            padding-left: 20px;
            border-left: solid gray;
        }
    
        .portfolio-h6 {
            display: block;
            align-self: flex-start;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
    
        .portfolio-button {
            display: flex;
    
        }
    
        .portfolio-button span {
            margin-right: 20px;
            background-color: gray;
            padding: 6px;
            border-radius: 50px;
        }
    
        .portfolio-länkar>a {
            text-decoration: none;
            color: black;
            margin-right: 30px;
            padding: 10px;
            border-bottom: solid 1px black;
        }

}



/* kontakt */

.container-kontakt {
    min-height: 50vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.kontakt-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    text-align: center;

}

.kontakt-item h6 {
    font-size: 15px;

}

.kontakt-item h2 {
    font-size: 40px;
    padding-top: 20px;
}

.kontakt-item ol {
    display: flex;
    padding-top: 70px;
    list-style: none;
}

.kontakt-item li {
    padding: 20px;
}

.footer {
    padding-top: 200px;
}